<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polvoss.ringtest">

    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo4"
        android:label="폴보스\n피싱예방"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <service
            android:name="com.polvoss.ringtest.NotificationGetService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

        <receiver
            android:name="com.polvoss.ringtest.AutoRunReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- <activity -->
        <!-- android:name=".Popup" -->
        <!-- android:theme="@style/Theme.AppCompat.Dialog.Alert" /> -->
        <receiver
            android:name="com.polvoss.ringtest.MMSReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.intent.action.DATA_SMS_RECEIVED" />

                <data android:scheme="sms" />
                <data android:host="localhost" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.polvoss.ringtest.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.polvoss.ringtest.OverlayService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW" />
        <service
            android:name="com.polvoss.ringtest.OverlayService1"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW" />
        <service
            android:name="com.polvoss.ringtest.OverlayService2"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW" />
        <service
            android:name="com.polvoss.ringtest.OverlayServiceSMS"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW" />
        <service
            android:name="com.polvoss.ringtest.OverlayServiceTest"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW" />
        <service
            android:name="com.polvoss.ringtest.AcceptOverlay"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW" />
        <service
            android:name="com.polvoss.ringtest.PhoneManageService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.polvoss.ringtest.TestService"
            android:enabled="true"
            android:exported="true" />


        <activity android:name="com.polvoss.ringtest.MainActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.polvoss.ringtest.DesignActivity"
            android:screenOrientation="portrait" android:launchMode="singleTask"/>

        <activity android:name="com.polvoss.ringtest.LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.polvoss.ringtest.UserGuide"
            android:screenOrientation="portrait"/>

        <activity android:name="com.polvoss.ringtest.SettingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.polvoss.ringtest.FirstSettingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:screenOrientation="portrait"
            android:name="com.polvoss.ringtest.SetNumberPopupActivity"
            android:theme="@android:style/Theme.Dialog" />

    </application>

</manifest>